<div class="wide-container">
  <div class="jumbotron">
    <h1>School App</h1>      
    <p>World's coolest school management app</p>
  </div>
  <p>Manage Students schedule.</p>      
  <p>Manage Teacher</p>      
</div>