<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Logo</a>
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <%= link_to 'Registro Diario',  daily_schedule_path, class:"nav-link" %>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Agenda</a>
    </li>
    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Registro 
      </a>
      <div class="dropdown-menu">
        <%= link_to 'Alumnos', students_path, class:"dropdown-item" %>
        <%= link_to 'Maestros', teachers_path, class:"dropdown-item" %>
        <a class="dropdown-item" href="#">Usuarios</a>
      </div>
    </li>
  </ul>
</nav>